<div class="card text-center">
  <div class="card-header">
    TodoList
  </div>
  <div class="card-body">
    <h5 class="card-title">Site em construção!</h5>
    <p class="card-text">APP de gerenciamento de tarefas!</p>
    <%= link_to 'Sing up', new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-success' %>
  </div>
</div>