<div class="card text-center">
  <div class="card-header">
    TodoList
  </div>
  <div class="card-body">
    <h5 class="card-title">Site em construção!</h5>
    <p class="card-text">APP de gerenciamento de tarefas!</p>
    <a href="#" class="btn btn-primary">Sing up</a>
    <a href="#" class="btn btn-success">Login</a>
  </div>
</div>